<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue"></script>
    <title></title>
<script>
window.onload = function() {
new Vue({
     el: "#app",
     data: {
       gender : "여",
       genderOpt: ['여','남']
     }
 });
}
</script>
<style>
  #mobile input,select{
    width: 80px;
  }
</style>

  </head>
  <body>

  <form id="app" action="index.html" method="post">
    <label for="id">ID: </label><input id="id" type="text" :value="id"><br />
    <label for="name">이름: </label><input id="name" type="text" :value="name"><br />
    <label for="pw">비밀번호: </label><input id="pw" type="text" :value="pw"><br />
    <label for="repw">비밀번호 확인: </label><input id="repw" type="text" :value="repw"><br />

<!-- 취미 -->
    <div id="hobby">
      취미:
      <label :for="item" v-for="item in hobbyOpt" :style="{marginRight:'30px'}">{{item}}
        <input type="checkbox" v-model="hobby" :value="item" :id="item" name="hobby">
      </label>
    </div>

<!-- 성별 -->
성별:
<label :for="item" v-for="item in genderOpt" :style="{marginRight: '30px'}">{{item}}
  <input type="radio" v-model="gender" :value="item" :id="item" name="gender">
</label>

<!-- 전화번호 -->
    <div id="mobile" >
      <label for="id">전화번호: </label>
        <select v-model="first">
            <option>010</option>
            <option>016</option>
            <option>018</option>
        </select>
        - <input id="id" type="text" :value="message">
        - <input id="id" type="text" :value="message">
    </div>

<!-- 버튼 -->
    <input type="button" value="가입" v-on:click="singIn">
    <input type="reset" value="취소">

  </form>

<script>
  new Vue({
      el: "#app",
      data: {

      },
      methods: {
        singIn: function(){
          if (this.id == undefined) {
            alert('id를 확인해주세요');
            return;
          }

        }}
  });

 new Vue({
      el: "#gender",
      data: {
        gender : "여",
        genderOpt: ['여','남']
      }
  });
</script>

</body>
</html>
