<!-- <!DOCTYPE html> -->
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>Vue Sample</title>
  <script src="https://unpkg.com/vue"></script>
  <script>
    window.onload = function() {
      new Vue({
        el: '#join',
        data: {
            hobby: [''],
            hobbyOpt: ['A','B','C'],
            gender: "여",
            genderOpt: ['여','남'],
            mobile: "010",
            mobileOpt: [
                { text: '010', value: '010' },
                { text: '011', value: '011' },
                { text: '016', value: '016' }
            ]
        },
        methods: {
          join: function(){
            var id = this.$refs.id;
            if(id.value == '') {
                alert('ID를 확인해주세요');
                id.focus();
                return;
            }
            var name = this.$refs.name;
            if(name.value == '') {
                alert('이름을 확인해주세요');
                name.focus();
                return;
            }

            var pw = this.$refs.pw;
            if(pw.value == '') {
                alert('비밀번호를 확인해주세요');
                pw.focus();
                return;
            }

            var repw = this.$refs.repw;
            if(repw.value == '') {
                alert('비밀번호를 재확인해주세요');
                repw.focus();
                return;
            }

            if(pw.value != repw.value) {
              alert('비밀번호가 일치하지 않습니다.');
              pw.value = '';
              repw.value = '';
              pw.focus();
              return;
            }

            // 구현안됨
            // var hobby = this.$refs.hobby;
            // if(hobby.checked) {
            // }else{
            //     alert('취미를 체크해주세요');
            //     hobby.focus();
            //     return;
            // }

            var mobile1 = this.$refs.mobile1;
            if(mobile1.value == '' || mobile1.value.length < 4) {
                alert('휴대폰 앞자리를 확인해주세요');
                mobile1.focus();
                return;
            }

            var mobile2 = this.$refs.mobile2;
            if(mobile2.value == '' || mobile2.value.length < 4) {
                alert('휴대폰 뒷자리를 확인해주세요');
                mobile2.focus();
                return;
            }

          document.frm.submit();
          }
        }
      });
    }
  </script>
  <style media="screen">
  legend{
    text-align: center;
    font-size: 25px;
  }
  form{
    width: 400px;
  }
  fieldset{
    padding:40px;
  }
  .mobile{
    width: 60px;
  }
  button{
    width: 100px;
    margin: 10px 10px 10px 20px;
    background: rgb(232, 232, 232);
    border: none;
    border-radius: 10px;
    padding:5px;
    cursor: pointer;
  }
  input, select{
    border-radius: 10px;
    border: 1px solid gray;
  }
  </style>
</head>

<body>
  <form id="join" name="frm" action="index.html" method="post">
    <fieldset>
      <legend>회원가입📝</legend>
      <table>
        <tr>
          <td>ID</td>
          <td><input type="text" id="id" name="id" ref="id"></td>
        </tr>
        <tr>
          <td>이름</td>
          <td><input type="text" id="name" name="name" ref="name"></td>
        </tr>
        <tr>
          <td>비번</td>
          <td><input type="text" id="pw" name="pw" ref="pw"></td>
        </tr>
        <tr>
          <td>비번확인</td>
          <td><input type="text" id="repw" name="repw" ref="repw"></td>
        </tr>
        <tr>
          <td>취미</td>
          <td>
            <label :for="item" v-for="item in hobbyOpt" :style="{marginRight: '30px'}">{{item}}
              <input type="checkbox" v-model="hobby" ref="hobby" :value="item" :id="item" name="hobby">
            </label>
          </td>
        </tr>
        <tr>
          <td>성별</td>
          <td>
            <label :for="item" v-for="item in genderOpt" :style="{marginRight: '30px'}">{{item}}
              <input type="radio" v-model="gender" :value="item" :id="item" name="gender">
            </label>
          </td>
        </tr>
        <tr>
          <td>전화번호</td>
          <td>
            <select v-model="mobile" id="mobile" class="mobile">
                <option v-for="option in mobileOpt" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select> - <input type="text" class="mobile" ref="mobile1" maxlength="4"> -
          <input type="text" class="mobile" ref="mobile2" value="" maxlength="4">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="button" v-on:click="join" name="btnJoin">가입</button>
            <button type="reset" name="btnCancel">취소</button>
          </td>
        </tr>
      </table>
    </fieldset>
  </form>
</body>

</html>
