<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue Sample</title>
    <script src="https://unpkg.com/vue"></script>
  <script type="text/javascript">
    window.onload = function(){
      new Vue({
        el: '#app',
        data: {
          first: ['user1','사용자1','여','010-1111-2221'],
          second: ['user2','사용자2','남','010-1111-2222'],
          third: ['user3','사용자3','여','010-1111-2223'],
          fourth: ['user4','사용자4','남','010-1111-2224'],
          fifth: ['user5','사용자5','여','010-1111-2225']
        }
      });
    }
  </script>

  <style media="screen">
  table,tr,td,th{
    border: solid 1px black;
  }

  </style>
  </head>

  <body>
  <h1>회원목록</h1>
  <hr>
    <table id="app">
      <tbody>
        <tr>
          <th>ID</th>
          <th>이름</th>
          <th>성별</th>
          <th>전화번호</th>
        </tr>

        <tr>
          <td :for="item" v-for="item in first">{{item}}</td>
        </tr>

        <tr>
          <td :for="item" v-for="item in second">{{item}}</td>
        </tr>

        <tr>
          <td :for="item" v-for="item in third">{{item}}</td>
        </tr>

        <tr>
          <td :for="item" v-for="item in fourth">{{item}}</td>
        </tr>

        <tr>
          <td :for="item" v-for="item in fifth">{{item}}</td>
        </tr>

      </tbody>
    </table>

  </body>
</html>
