<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue Sample</title>
    <script src="https://unpkg.com/vue"></script>
    <script>
      window.onload = function(){
         new Vue({
          el: "#join",
          data: {
            hobby: [''],
            hobbyOpt: ['A','B','C'],
            gender: "여",
            genderOpt: ['여','남'],
            mobile: "010",
            mobileOpt: [
              {text: '016', value: '016'},
              {text: '010', value: '010'},
              {text: '018', value: '018'}
            ]
          },
          methods:{
            join: function(){
              var id = this.$refs.id;
              if(id.value == '') {
              alert('아이디를 입력하세요');
              id.focus();
              return;
            }

              var name = this.$refs.name;
              if(name.value == '') {
              alert('이름을 입력하세요');
              name.focus();
              return;
            }
              var pw = this.$refs.pw;
              if(pw.value == ''){
              alert('비밀번호를 입력하세요');
              pw.focus();
              return;
            }
              var repw = this.$refs.repw;
              if(repw.value == '') {
              alert('비밀번호 확인을 해주세요');
              repw.focus();
              return;
            }

              if(repw.value != pw.value) {
              alert('비밀번호가 일치하지 않습니다.');
              pw.value = '';
              repw.value = '';
              pw.focus();
              return;
            }

              var mobile1 = this.$refs.mobile1;
              if(mobile1.value == '' || mobile1.value.length < 4) {
              alert('휴대폰 앞자리를 확인해주세요');
              mobile1.focus();
              return;
            }

              var mobile2 = this.$refs.mobile2;
              if(mobile2.value == '' || mobile2.value.length < 4) {
              alert('휴대폰 뒷자리를 확인해주세요');
              mobile2.focus();
              return;
            }

            document.frm.submit();
          }
        }
      });
    }
    </script>

<style media="screen">
form{
  width:350px;
}

fieldset{
  padding: 30px;
}

legend{
  text-align: center;
  font-size: 24px;
}

.mb{
  width: 50px;
}

input,select{
  border-radius: 10px;
  border: gray 1px solid;
}

button{
  margin: 20px 10px 0px 20px;
  width:100px;
}
</style>


  </head>
  <body>
    <form name="frm" id="join" action="index.html" method="post">
      <fieldset>
        <legend>회원가입</legend>
        <table>
          <tr>
            <td><label for="id">ID </label></td>
            <td><input type="text" id="id" ref="id" name="id"></td>
          </tr>

          <tr>
            <td><label for="name">이름 </label></td>
            <td><input type="text" ref="name" name="name"></td>
          </tr>

          <tr>
            <td><label for="pw">비번 </label></td>
            <td><input type="text" ref="pw" name="pw"></td>
          </tr>

          <tr>
            <td><label for="repw">비번확인</label></td>
            <td><input type="text" ref="repw" name="repw"></td>
          </tr>

          <tr>
            <td>취미</td>
            <td>
              <label v-for="item in hobbyOpt" :style="{marginRight:'30px'}">
              <input type="checkbox" ref="hobby" :name="hobby" :value="hobby">{{item}}
              </label>
            </td>
          </tr>

          <tr>
            <td>성별</td>
            <td>
              <label :for="item" v-for="item in genderOpt" :style="{marginRight: '30px'}">{{item}}
                <input type="radio" v-model="gender" :value="item" :id="item" name="gender">
              </label>
            </td>
          </tr>

          <tr>
            <td>전화번호</td>
            <td>
              <select v-model="mobile" id="mobile" class="mobile">
                  <option v-for="option in mobileOpt" v-bind:value="option.value">
                      {{ option.text }}
                  </option>
              </select>
              - <input class="mb" type="text" ref="mobile1" maxlength="4" :name="mobile1" :value="mobile1">
              - <input class="mb" type="text" ref="mobile2" maxlength="4" :name="mobile2" :value="mobile2">
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <button type="button" v-on:click="join" name="btnSignIn">가입</button>
              <button type="reset" name="btnCancel">취소</button>
            </td>
          </tr>

        </table>
      </fieldset>
    </form>
  </body>
</html>
