<script src="https://unpkg.com/vue"></script>
<div id="app">
    <input type="checkbox" id="soccor" value="soccor" v-model="hobby">
    <label for="soccor">soccor</label>
    <input type="checkbox" id="baseball" value="baseball" v-model="hobby">
    <label for="baseball">baseball</label>
    <input type="checkbox" id="basketball" value="basketball" v-model="hobby">
    <label for="basketball">basketball</label>
    <br>
    <span>Checked names: {{ hobby }}</span>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            hobby: ["basketball"]
        }
    });
</script>
